@font-face {
    font-family: 'Mintsoda';
    src: url('https://raw.githubusercontent.com/n3xta/image-hosting/main/fonts/mintsoda.ttf') format('truetype');
}

body {
    font-family: 'Mintsoda', sans-serif;
    text-align: center;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    margin-top: 200px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 20px auto;
}

.blog-content {
    text-align: left;
    max-width: 600px;
    margin-bottom: 30px;
    line-height: 1.7;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

ul a {
    color: #01ffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

ul a:hover {
    color: #fd01fe;
}

.blog-content {
    text-align: left;
    max-width: 600px;
}

.img-unlock {
    filter: grayscale(100%);
    transition: filter 0.5s;
    max-width: 100%;
    height: auto;
}

.img-unlock:hover {
    filter: grayscale(0%);
}
